mixin listMembersCheckbox(member, index)
  div
    input(name=member.nickname, id=member.nickname,type="checkbox", `${meeting.participants.includes(member.nickname) ? checked}`)
    label(for=member.nickname) #{member.nickname}