mixin listBooks(book, index)
  div.book
    div
      img(src=`${book.bookImg}`, alt="[책 이미지]", width="200", height="300")
    li #{index + 1}
    a(href=`/books/${book.id}`) #{book.title}
    div
      small 지은이: #{book.author}
    div
      small 옮긴이: #{book.translator}
    div
      small 출판사: #{book.publisher}
    div
      small 읽은 인원: #{book.readCount}
    div
      small 토론 여부: 
        if (book.isMeetingDone === true)
          small 완료
        else
          small 대기
    div
      each hashtag in book.hashtags
        span #{hashtag} 
    small=book.createdAt
  hr