extends base.pug

block content 
  div#bookContainer(data-id=dbBook._id)
    ul.option-selects
      a(href=`${dbBook._id}/edit`) 수정하기
      span &nbsp;&nbsp;&nbsp;
      a(href=`${dbBook._id}/delete`) 삭제
    div.line
    div.book__info
      div.book__first-column
        div.book__first-column__img
          img(src=`${dbBook.bookImg}`, alt="수정하기에서 사진 링크를 입력해 주세요", width="200", height="300", border="1")
        div.book__first-column__comment-section
          if loggedIn
            div.book__add-comments
              form.book__add-comment-form#commentForm
                textarea(cols="30", rows="3", placeholder="댓글을 남겨 주세요!")
                button 댓글 달기
          div.book__comments
            ul
              each comment in dbBook.comments.reverse()
                li.book__comment
                  i.fas.fa-comment
                    span  #{comment.text}
                    if String(loggedInMember) === String(comment.member)
                      span X
      div.book__basic-info
        h4 제목: #{dbBook.title}
        h4 지은이: #{dbBook.author}
        h4 옮긴이: #{dbBook.translator}
        h4 출판사: #{dbBook.publisher}
        h4 ISBN: #{dbBook.ISBN}
        h4 해시태그: #{dbBook.hashtags}
        h4 조회수: #{dbBook.views}
      div.book__meta-info
        h4 완독 인원: #{dbBook.readCount}
        h4 희망 인원: #{dbBook.wishCount}
        h4 토론 현황:
          if dbBook.isMeetingDone
            span  완료
          else
            span  대기
        hr
block scripts 
  if loggedIn
    script(src="/static/js/commentSection.js")